.card{
    position: relative;
    width: 100%;
    background: #252525;
    border-radius: 3px;
    padding: 20px;
}

.card .card-title{
    font-size: 18px;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: #6E7DFF;
    margin-bottom: 1.3em;
    font-family: 'Lemon milk Regular';
}

.card p:nth-child(2){
    font-size: 16px;
    line-height: 26px;
}

.card .card-image{
    position: absolute;
    top: -50%;
    right: 6%;
    transform: translateY(50%);
}

.careerCard{
    background: #252525;
    padding: 20px;
}

.careerCard img{
    width: 48px;
    height: 48px;
}

.careerCard .card-title{
    margin-top: 1em;
}

@media screen and (max-width:768px){
    .card .card-image{
        top: -30%;
        left: 50%;
        transform: translateX(-50%);
    }
}

@media screen and (max-width:576px){
    .card .card-image{
        top: -25%;
        right: 5%;
        transform: translateX(0%);
    }
}