.card{
    position: relative;
    width: 100%;
    background: #252525;
    border-radius: 3px;
    padding: 20px;
}

.card .card-title{
    font-size: 18px;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: #6E7DFF;
    margin-bottom: 1.3em;
}

.card p:nth-child(2){
    font-size: 16px;
    line-height: 26px;
}

.card .card-image{
    position: absolute;
    top: -50%;
    right: 6%;
    transform: translateY(50%);
}