.sidebar{
    position: fixed;
    top: 0;
    right: 0;
    background: #000;
    color: white;
    height: 100%;
    width: 60%;
    z-index: 1000;
    padding: 20px 40px;
}

.sidebar .navbar{
    padding-top: 50px;
    display: flex;
    flex-direction: column;
    grid-gap: 2em;
    align-items: flex-start;
}

.sidebar .close{
    position: absolute;
    top: 1em;
    right: 1em;
    cursor: pointer;
}