.about .about-landing{
    width: 100%;
    height: 100vh;
    padding: 0 70px;
    background: rgba(0,0,0,0.4);
    background-blend-mode: darken;
}

.about .about-landing .bg-img{
    position:absolute;
    top: 0;
    left:0;
    width: 100%;
    height: 100vh;
    z-index: -1;
}

.about .story{
    padding: 100px 70px 50px;
    background: #141414;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 32px;
}

.about .story div p:nth-child(2){
    margin: 1em 0;
    line-height: 25px;
}

.about .story div button{
    border: 2px solid #6E7DFF;
    padding: 5px 10px;
    font-size: 1em;
    outline: none;
    background: transparent;
    color: #fff;
}

.about .story .video{
    width: 100%;
    height: 100%;
    border: 1px solid black;
}

.about .process{
    padding: 50px 70px;
    background: #141414;
}

.about .process p:nth-child(1){
    width: fit-content;
    margin: 0 auto;
}

.about .process p:nth-child(2){
    width: 70%;
    margin: 1em auto;
}